@media screen and (min-width: 600px) {
	.btbu-news-body{
		padding: 30px 0;
	}
	.btbu-news-title{
		font-size: 28px;
		font-weight: bolder;
		margin-bottom: 20px;
	}
	
	.btbu-news-info{
		font-size: 14px;
		color: #999;
		padding-bottom: 5px;
		border-bottom: 1px solid rgba( 0, 0, 0, 0.05 );
	}
	
	.btbu-news-info span{
		margin-right:10px;
	}
	
	.btbu-news-text{
		padding: 15px 0;
		font-size: 15px;
		color: #666;
	}
	
	.btbu-news-text p{
		margin: 15px 0;
	}
	
	.btbu-news-text img{
		max-width: 100%;
		vertical-align: middle;
	}
}


@media screen and (max-width: 600px) {
	.btbu-news-body{
		padding: 20px 15px;
	}
	.btbu-news-title{
		font-size: 24px;
		line-height: 1.5;
		font-weight: bolder;
		margin-bottom: 20px;
	}
	
	.btbu-news-info{
		font-size: 13px;
		color: #999;
		padding-bottom: 5px;
		border-bottom: 1px solid rgba( 0, 0, 0, 0.05 );
	}
	
	.btbu-news-info span{
		margin-right:10px;
	}
	
	.btbu-news-text{
		padding: 10px 0;
		font-size: 15px;
		color: #666;
	}
	
	.btbu-news-text p{
		margin: 10px 0;
	}
	
	.btbu-news-text img{
		max-width: 100%;
		vertical-align: middle;
	}
}
