@media screen and (min-width: 600px) {
	.btbu-personal-body{
		padding: 30px 0;
	}

	.btbu-personal-hd .head-l{
		width: 70%;
		float: left;
	}
	
	.btbu-personal-hd .head-l h1{
		font-size: 18px;
		padding: 15px 0;
	}
	
	.btbu-personal-hd .head-l p{
		font-size: 15px;
		padding: 5px 0;
		color: #666;
	}
	
	.btbu-personal-hd .head-r{
		width: 30%;
		float:right;
		text-align: right;
		line-height: 0;
		font-size: 0;
	}
	
	.btbu-personal-hd .head-r .avatar{
		width: 180px;
		border:1px solid #e6e6e6;
		border-radius: 10px;
	}
	
	.btbu-personal-bd .item{
		padding: 10px 0;
	}
	
	.btbu-personal-bd h2{
		font-size: 16px;
		padding: 10px 0;
	}
	
	.btbu-personal-bd p{
		font-size: 15px;
		padding: 2px 0;
		color: #666;
	}
}


@media screen and (max-width: 600px) {
	.btbu-personal-body{
		padding: 20px 0;
	}
	
	.btbu-personal-hd{
		/* display: -webkit-box;
		display: -webkit-flex;
		display: flex; */
		padding: 0 15px;
	}
	

	
	.btbu-personal-hd .head-l h1{
		text-align: center;
		font-size: 17px;
		padding: 10px 0;
	}
	
	.btbu-personal-hd .head-l p{
		font-size: 14px;
		padding: 3px 0;
		color: #666;
	}
	
	.btbu-personal-hd .head-r{
		text-align: center;
		line-height: 0;
		font-size: 0;
	}
	
	.btbu-personal-hd .head-r .avatar{
		width: 100px;
		border:1px solid #e6e6e6;
		border-radius: 10px;
	}
	
	.btbu-personal-bd .item{
		padding: 10px 15px;
	}
	
	.btbu-personal-bd h2{
		font-size: 16px;
		padding: 10px 0;
	}
	
	.btbu-personal-bd p{
		font-size: 14px;
		padding: 2px 0;
		color: #666;
	}
}
