/* 滚动条样式 */
::-webkit-scrollbar {
	width: 5px;
	height: 10px;
	background-color: #f6f6f6;
}

::-webkit-scrollbar-track {
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	background-color: #f6f6f6;
}

::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	background-color: #ddd;
}

@media screen and (min-width: 600px) {
	.btbu-page-app {
		display: none;
	}

	/* 盒子 */
	.btbu-page-box {
		width: 1200px;
		margin: auto;
	}

	/* 全局浮动 */
	.clearfix:after {
		content: "";
		display: block;
		height: 0;
		clear: both;
	}

	.clearfix {
		*zoom: 1;
	}

	.page-fl {
		float: left;
	}

	.page-fr {
		float: right;
	}

	/* 头部公用样式 */
	.btbu-page-header {
		background-color: #00366f;
	}

	.btbu-page-header-box {
		padding: 10px 0;
	}

	.btbu-page-logo {
		float: left;
		padding: 0 20px;
		line-height: 0;
		font-size: 0;
	}

	.btbu-page-logo .logo {
		display: inline-block;
		line-height: 0;
		font-size: 0;
		vertical-align: middle;
	}

	.btbu-page-logo .logo img {
		height: 80px;
	}

	.btbu-page-nav-mask {
		display: none;
	}

	.btbu-page-nav-wrap {
		float: right;
		/* padding: 0 20px; */
        margin-top: 15px;
	}

	.btbu-page-nav>li {
		float: left;
		position: relative;
		padding: 0 5px;
	}

	.btbu-page-nav a {
		display: block;
		color: #fff;
		/* font-size: 15px; */
        font-size: 18px;
		line-height: 30px;
		padding: 10px 18px;
		cursor: pointer;
	}

	.btbu-page-nav a.menu:hover {
		opacity: 0.5;
		filter: alpha(opacity=50);
	}


	.btbu-page-nav .sub-menu {
		display: none;
		position: absolute;
		left: 5px;
		top: 50px;
		z-index: 1;
		padding-top: 10px;
	}

	.btbu-page-nav>li:hover .sub-menu {
		display: block;
	}

	.btbu-page-nav .sub-menu li {
		background: rgba(0, 54, 111, 0.6);
		padding: 2px 0;
	}

	.btbu-page-nav .sub-menu li:hover {
		background: rgba(0, 54, 111, 0.9);
		padding: 2px 0;
	}

	/* 脚部公用样式 */

	.bubu-page-footer-wrap {
		background-color: #062444;
		padding: 30px 0 20px;
	}

	.bubu-page-footer .footer-column {
		float: left;
		width: 30%;
	}

	.bubu-page-footer .footer-column-logo {
		width: 38%;
		margin-right: 2%;
		line-height: 0;
		font-size: 0;
	}

	.bubu-page-footer .logo {
		padding: 15px 0;
		width: 100%;
	}

	.bubu-page-footer h6 {
		color: #fff;
		font-size: 15px;
		padding-bottom: 5px;
	}

	.bubu-page-footer p {
		color: #fff;
	}
}


@media screen and (max-width: 600px) {
	.btbu-page-pc {
		display: none;
	}

	/* 头部公用样式 */
	.btbu-page-header {
		background-color: #00366f;
	}

	.btbu-page-logo {
		padding: 10px 15px;
		display: -webkit-box;
		display: -webkit-flex;
		display: flex;
		-webkit-box-align: center;
		-webkit-align-items: center;
		align-items: center;
	}

	.btbu-page-logo .logo {
		display: block;
		line-height: 0;
		font-size: 0;
	}

	.btbu-page-logo .logo img {
		height: 36px;
	}

	.btbu-page-logo .menu {
		line-height: 0;
		font-size: 0;
		-webkit-box-flex: 1;
		-webkit-flex: 1;
		flex: 1;
		text-align: right;
		color: #fff;
	}

	.btbu-page-logo .menu img {
		height: 28px;
	}

	.btbu-page-nav-wrap {
		position: fixed;
		left: -100%;
		top: 0;
		bottom: 0;
		z-index: 999;
		width: 100%;
		-webkit-transition: all .5s ease;
		-o-transition: all .5s ease;
		transition: all .5s ease;
		overflow: hidden;
	}

	.btbu-page-nav-active {
		left: 0;
	}

	.btbu-page-nav-mask {
		position: fixed;
		left: -100%;
		right: 0;
		top: 0;
		bottom: 0;
		width: 100%;
		z-index: 1;
		background-color: #000;
		opacity: 0;
	}

	.btbu-page-nav-active .btbu-page-nav-mask {
		left: 0;
		opacity: 0.5;
	}

	.btbu-page-nav {
		position: relative;
		z-index: 2;
		width: 65%;
		background-color: #fff;
		height: 100%;
		padding: 30px 0;
		box-sizing: border-box;
	}

	.btbu-page-nav>li {
		padding: 5px 0;
	}

	.btbu-page-nav a {
		display: block;
		color: #333;
		font-size: 16px;
		line-height: 24px;
		padding: 12px 20px;
	}

	.btbu-page-nav a:active {
		background-color: #f2f2f2;
	}

	.btbu-page-nav .sub-menu {
		display: none;
	}

	.btbu-page-nav>li:hover .sub-menu {
		display: block;
	}

	.btbu-page-nav .sub-menu li {
		background: #f5f6f7;
	}

	.btbu-page-nav .sub-menu li:active {
		background: #e0e0e0;
	}

	/* 脚部公用样式 */

	.bubu-page-footer-wrap {
		background-color: #062444;
		padding: 10px 0;
	}

	.bubu-page-footer .footer-column {
		padding: 10px 15px;
	}

	.bubu-page-footer .logo {
		padding: 15px 0;
	}

	.bubu-page-footer h6 {
		color: #fff;
		font-size: 15px;
		padding-bottom: 5px;
	}

	.bubu-page-footer p {
		color: #fff;
	}
}
