html{overflow:-moz-scrollbars-vertical;}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, p, blockquote, th, td { margin:0; padding:0; }
body { font-size:13px; color: #333; background:#fff; line-height:24px; }
fieldset, img { border:0; }
ol, ul, li { list-style:none; }
h1, h2, h3, h4, h5, h6{ font-size:100%; }
em { font-style:normal; }
input, button, select, textarea { outline:none; }
textarea { resize:none; }
p{ text-align:justify; text-justify:distribute;word-wrap:break-word;} /* 为了使文本段落左右两边对齐 */
a { text-decoration:none; -webkit-tap-highlight-color: transparent;} /* 取消移动端点击高亮 */
table{border-collapse:collapse;border-spacing:0}
sup { vertical-align:text-top; }
sub{ vertical-align:text-bottom; }
figure{margin:0}
