@media screen and (min-width: 600px) {
	.btbu-sidebar ul li{
		padding: 18px 0;
		border-bottom: 1px solid #e6e6e6;
	}
	
	.btbu-sidebar ul li a{
		height: 20px;
		line-height: 20px;
		padding-left:10px;
		border-left:10px solid #e6e6e6;
		font-size: 15px;
		cursor: pointer;
		color: #808080;
	}
	
	.btbu-sidebar ul li a.current{
		border-left:10px solid #00366f;
		color: #00366f;
		font-weight: bolder;
	}
}


@media screen and (max-width: 600px) {
   
}
